/* Importing fonts */
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Base typography styles */
body {
  font-family: "Avenir Next", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

h1 {
  font-family: "Avenir Next", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
}

h2 {
  font-family: "Avenir Next", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
}

h3 {
  font-family: "Avenir Next", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

p {
  font-family: "Avenir Next", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  body {
    background: red;
  }
}
@media screen and (min-width: 1280px) {
  body {
    background: orange;
  }
}