/* Importing fonts */
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Base & Responsive typography styles */
body {
  letter-spacing: 0.5px;
  font-family: "Avenir Next", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Avenir Next", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-family: "Avenir Next", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-top: 3rem;
    margin-bottom: 2.25rem;
  }
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Avenir Next", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-family: "Avenir Next", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-top: 3rem;
    margin-bottom: 2.25rem;
  }
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Avenir Next", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-top: 3rem;
  margin-bottom: 2.25rem;
}

/* Label & Button styles */
label,
.button,
.date {
  line-height: 1.25rem;
  text-transform: uppercase;
  font-size: 0.625rem;
}
@media screen and (min-width: 768px) {
  label,
.button,
.date {
    font-size: 0.75rem;
  }
}

/* border box */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Header */
.header-background {
  background-color: #323232;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .header {
    max-width: 1020px;
    margin: 0 auto;
  }
}
.header nav {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.header__logo {
  margin: 1rem 0 0;
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    margin: 2.25rem 2.25rem 2.25rem 0;
  }
}
.header__nav {
  display: block;
  width: 100%;
  min-width: 100%;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__nav {
    width: 100%;
  }
}
.header__nav-item {
  flex-grow: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__nav-item {
    flex-grow: 0;
    margin: 0 1rem;
  }
}
.header__nav-link {
  display: block;
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-decoration: none;
  color: #e1e1e1;
  padding: 1rem 0;
  margin: 0;
  border-bottom: 4px solid transparent;
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    padding: 2.25rem 0;
  }
}
.header__nav-link:hover {
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
}
.header__nav-link--active {
  font-weight: 600;
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
}

/* Hero */
.hero {
  width: 100%;
  color: #ffffff;
  margin: 2.25rem 1rem;
  min-height: 18vh;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    margin: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    margin: 5rem auto;
    width: 1020px;
  }
}
.hero__wrapper {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    min-height: 30rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    min-height: 40rem;
  }
}

/* Footer */
.footer-background {
  background-color: #323232;
  padding: 1rem;
  color: #ffffff;
  letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
  .footer-background {
    padding: 2.25rem;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 1020px;
    margin: 0 auto;
  }
}
.footer__header {
  display: inline-flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }
}
.footer__title {
  font-weight: 600;
  font-size: 1.8rem;
  margin-right: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    width: calc(33.33% - 1.5rem);
  }
}
.footer__social-list {
  display: flex;
  align-items: baseline;
}
.footer__social-link {
  display: block;
}
.footer__social-item {
  margin-right: 2rem;
}
.footer__social-icon {
  display: block;
  height: 1.8rem;
  width: 1.8rem;
}
.footer__logo--large {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo--large {
    display: inline-block;
    margin-left: auto;
  }
}
.footer__logo--large img {
  height: 1.5rem;
}
.footer__logo--small {
  height: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__logo--small {
    display: none;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__info {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.footer__info-item {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__info-item {
    margin-right: 1.5rem;
    width: calc(33.33% - 1.5rem);
  }
}
.footer__info-text {
  margin-bottom: 0.25rem;
}
.footer__info-text--bold {
  font-weight: 600;
}
.footer__info-text--bold:last-of-type {
  margin-bottom: 1.5rem;
}
.footer__info-email {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* CTA Button */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  color: #afafaf;
  width: 100%;
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #000000;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .button {
    margin-left: auto;
    display: inline-flex;
    min-width: 9.375rem;
    width: auto;
  }
}

/* Divider  */
.divider {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e1e1e1;
}

/* Hero section - shows */
.hero {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 1280px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.hero__info {
  max-width: 20rem;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .hero__info {
    max-width: 35rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__info {
    flex-shrink: 0;
    max-width: 30rem;
  }
}
.hero__album-info {
  margin: 1.5rem 0;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__album-info {
    font-size: 1.5rem;
  }
}
.hero__album-name {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .hero__album-name {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 768px) {
  .hero__player {
    max-width: 30rem;
  }
}
.hero__wrapper--shows {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-shows.jpg);
}

/* Shows section */
.shows {
  margin: 1.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .shows {
    margin: 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    width: 1020px;
    margin: 3rem auto;
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    margin-top: 0;
    width: 25%;
  }
}
.shows__listings {
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .shows__item {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__item-info {
    width: calc(100% / 4);
  }
}
.shows__headers--medium-large {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__headers--medium-large {
    display: flex;
  }
}
.shows__header {
  width: calc(100% / 4);
  text-transform: uppercase;
  color: #afafaf;
}
.shows__item-info--bold {
  font-weight: 600;
}
.shows__button {
  color: #ffffff;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__button {
    margin: 0 0 0 auto;
  }
}
.shows__item-header {
  color: #afafaf;
  display: block;
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .shows__item-header {
    display: none;
  }
}