@use "sass:math" as m;
@use "partials/colors" as *;
@use "partials/variables" as *;
@use "partials/typography" as *;
@use "partials/mixins" as *;
@use "partials/global" as *;

/* Hero section - shows */

.hero {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 20rem;
    margin: $space-16 0;
    @include tablet {
      max-width: 35rem;
    }
    @include desktop {
      flex-shrink: 0;
      max-width: 30rem;
    }
  }

  &__album-info {
    margin: $space-24 0;
    font-weight: 600;
    @include tablet {
      font-size: $space-24;
    }
  }

  &__album-name {
    font-size: $space-32;
    font-weight: 600;
    margin: 0 0 $space-8 0;
    @include tablet {
      font-size: $space-56;
    }
  }

  &__player {
    @include tablet {
      max-width: 30rem;
    }
  }

  &__wrapper--shows {
    background-image: linear-gradient(
        rgba($bandsite-black, 0.5),
        rgba($bandsite-black, 0.5)
      ),
      url(../assets/images/hero-shows.jpg);
  }
}

/* Shows section */

.shows {
  margin: $space-24 $space-16;

  @include tablet {
    margin: $space-36 $space-36;
  }

  @include desktop {
    width: 1020px;
    margin: $space-48 auto;
    display: flex;
    align-items: baseline;
  }

  &__title {
    @include desktop {
      margin-top: 0;
      width: 25%;
    }
  }

  &__listings {
    flex-grow: 1;
  }

  &__item {
    @include tablet {
      display: flex;
      align-items: center;
      padding-top: $space-24;
    }
  }

  &__item-info {
    @include tablet {
      width: calc(100% / 4);
    }
  }

  &__headers--medium-large {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__header {
    width: calc(100% / 4);
    text-transform: uppercase;
    color: $silver;
  }

  &__item-info--bold {
    font-weight: 600;
  }

  &__button {
    color: $white;
    margin-top: $space-16;
    @include tablet {
      margin: 0 0 0 auto;
    }
  }

  &__item-header {
    color: $silver;
    display: block;
    margin-bottom: $space-4;
    margin-top: $space-16;
    font-weight: 400;
    text-transform: uppercase;

    @include tablet {
      display: none;
    }
  }
}
